<%- include('../views/partials/header'); %>
<main>
    <center>
        <p></p>
        <div>
            <h3>Monthly Summary: </h3>
            <table class="tableLoan" style="width:90%">
                <thead>
                    <tr>
                        <th style="width: 20%;"></th>
                        <th>Sum</th>
                        <th>Avg</th>
                        <th>Median</th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Loan Amount Summary</td>
                        <td><%= num(JSON.stringify(monthlySummary.LoanAmountSummary.Sum)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.LoanAmountSummary.Average)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.LoanAmountSummary.Median)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.LoanAmountSummary.Minimum)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.LoanAmountSummary.Maximum)).format('$0,0.00') %></td>
                    </tr>
                    <tr>
                        <td>Subject Appraised Amount Summary: </td>
                        <td><%= num(JSON.stringify(monthlySummary.SubjectAppraisedAmountSummary.Sum)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.SubjectAppraisedAmountSummary.Average)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.SubjectAppraisedAmountSummary.Median)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.SubjectAppraisedAmountSummary.Minimum)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.SubjectAppraisedAmountSummary.Maximum)).format('$0,0.00') %></td>
                    </tr>
                    <tr>
                        <td>Interest Rate Summary</td>
                        <td><%= num(JSON.stringify(monthlySummary.InterestRateSummary.Sum)).format('0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.InterestRateSummary.Average)).format('0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.InterestRateSummary.Median)).format('0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.InterestRateSummary.Minimum)).format('0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummary.InterestRateSummary.Maximum)).format('0.00') %></td>
                    </tr>
                </tbody>
            </table>            
        </div>
        <br />
        <div>
            <h3>Monthly Summary by Sate:</h3>
            <% for (var i = 0; i < monthlySummaryByState.length; i++) { %>
            <p></p>
            <p><strong><%= monthlySummaryByState[i].SubjectState %></strong></p>
            <table class="tableLoan" style="width:90%">
                <thead>
                    <tr>
                        <th style="width: 20%;"></th>
                        <th>Sum</th>
                        <th>Avg</th>
                        <th>Median</th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Loan Amount Summary</td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].LoanAmountSummary.Sum)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].LoanAmountSummary.Average)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].LoanAmountSummary.Median)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].LoanAmountSummary.Minimum)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].LoanAmountSummary.Maximum)).format('$0,0.00') %></td>
                    </tr>
                    <tr>
                        <td>Subject Appraised Amount Summary: </td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].SubjectAppraisedAmountSummary.Sum)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].SubjectAppraisedAmountSummary.Average)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].SubjectAppraisedAmountSummary.Median)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].SubjectAppraisedAmountSummary.Minimum)).format('$0,0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].SubjectAppraisedAmountSummary.Maximum)).format('$0,0.00') %></td>
                    </tr>
                    <tr>
                        <td>Interest Rate Summary</td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].InterestRateSummary.Sum)).format('0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].InterestRateSummary.Average)).format('0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].InterestRateSummary.Median)).format('0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].InterestRateSummary.Minimum)).format('0.00') %></td>
                        <td><%= num(JSON.stringify(monthlySummaryByState[i].InterestRateSummary.Maximum)).format('0.00') %></td>
                    </tr>
                </tbody>
            </table>
            <% } %>
        </div>
    </center>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
</main>
<%- include('../views/partials/footer'); %>